@import "tailwindcss";

:root {
  --background: #4a4a4a;
  --foreground: #ffffff;
  --mango: #efbe02;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --mango: #efbe02;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-mango: var(--mango);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
